@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~select2/dist/css/select2.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "../../../vendor/almasaeed2010/adminlte/dist/css/adminlte.min.css";
@import "~flatpickr";
@import "~jodit/build/jodit.min.css";

.select2-container {
    width: 100% !important;
}

.form-control[readonly] {
    background-color: transparent;
}

.img-preview {
    max-height: 300px;
    display: block;
}

.img-dt {
    max-width: 200px;
}

.dt td {
    vertical-align: middle;
}

.dt .avatar {
    max-width: 50px;
    border-radius: 50%;
    border: 1px solid grey;
}

.main-sidebar .brand-text,
.sidebar-mini.sidebar-collapse .brand-text,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-text {
    margin-left: 20px;
}

.card-header {
    .nav.nav-tabs {
        background: aliceblue;
        padding-top: 20px;
        li.nav-item:first-child {
            padding-left: 20px;
        }
    }
}

.main-sidebar .sidebar nav ul {
    padding-bottom: 100px;
}
